h1,
h2,
h3,
h4,
h5 {
  font-family: 'Baloo Bhai', cursive !important;
  letter-spacing: .8px;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

.services-item {
    padding: 10px;
}

#card-head {
    background-color: #263238 !important;
    width: 100%;
    /* margin: -30px -30px 0; */
    padding: 30px 0 10px;
}

.item-boxes h3 {
    color: rgb(233, 233, 233);
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* .item-boxes {
    background-color: rgb(209, 221, 223);
} */

.item {
    padding: 10px;
    background: rgb(233, 233, 233);
    margin-bottom: 5px;
}

.item:last-child {
    margin-bottom: 0;
}

.item-title {
    font-size: 1.1rem;
    font-weight: 400;
    color: #263238;
}

.icons {
    float: right;
    clear: both;
    padding: 4px;
    border: 1px solid #1AB7D8;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: .5rem;
    vertical-align: middle;
}

.hide {
    display: none !important;
}

.bg-color {
    background-color: #263238 !important;
}

#color-style-switcher {
    display: none;
}

.form-ctrl {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 30px;
    font-size: 14px;
    color: #848484;
    border-radius: 30px;
    border: 1px solid transparent;
    background: #f5f5f5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-brand {
    border-top: 2px solid #1AB7D8;
    border-bottom: 2px solid #1AB7D8;
}

.fs-head {
    font-size: 1rem;
}

.fs-group {
    margin-bottom: 10px;
    padding: 10px 10px 5px;
    background-color: rgb(237, 238, 238);
    border-radius: 5px;
}

.form-submit {
    margin-top: 10px;
}

.navbar {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#services {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#features {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#team {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#team p.section-subtitle {
    color: aliceblue;
}

.copyright-flex {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    margin-top: 10px;
}